<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django level two</title>
    <link rel="stylesheet" href= "{% static "css/style.css" %}"/>
  </head>
  <body>
    <h1>Hello this is a picture of django level two!</h1>
    <h2>here is my access records</h2>
    <img src="{% static "images/th.jpg" %}" alt="uhh Oh, didn't show!">

    <div class="djangotwo">
      {% if access_records %}

      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Access</th>
        </thead>
        {% for acc in access_records %}

        <tr>
          <td>{{ acc.name}}</td>
          <td>{{ acc.date}}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>NO ACCESS RECORD FOUND!</p>
      {% endif %}


    </div>
  </body>
</html>
